:root{
    --accent-color: rgb(240, 140, 25);
}
*{
    box-sizing: border-box;
}
*::after, *::before{box-sizing: border-box;}
html{
    font-size: 62.5%;
}
body{
    font-size: 1.6rem;
    background-color: rgb(43, 42, 42);
    color: rgb(150, 150, 150);
    margin: 0;
    padding: 0;
    line-height: 1.5;
    height: 100vh;
}

/* basic */
ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
h3,p{margin: 0;padding: 0;}
button{
    border: none;
    background: none;
}

.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* card */
.container{
    height: 100%;
}
#card{
    width: clamp(200px, 30%, 500px);
    margin: 0 auto;
    background: rgb(25, 25, 25);
    padding: 1em 1.5em;
    border-radius: 20px;
}
#card h3{
    font-size: clamp(1.8rem, 2.4rem, 2.8rem);
    color: var(--accent-color);
}
#card p{
    font-size: 1.6rem;
}
#card .rating{
    display: flex;
    margin: 1em auto 1em;
}
#card .rating li{
    background: rgb(46, 46, 46);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    border: 1px solid rgb(43, 42, 42);
    cursor: pointer;
}
#card .rating li:not(:last-child){margin-right: 0.5em;}

#card .rating li:hover, 
#card .rating li:focus,
#card .rating li.on{
    background: var(--accent-color);
    color: #fff;
}
button.submit{
    background: var(--accent-color);
    padding: .5em 1.5em;
    text-align: center;
    max-width: 150px;
    color: #fff;
    font-size: 1.8rem;
    margin-top: .8em;
    cursor: pointer;
    transition: .5s;
}
button.submit:active{
    transform: scale(.98px);
}



